body {
    min-height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 2;
    background: #ffc600;
  }

  .container {
    width: 400px;
    height: 80vh;
    padding: 20px;
    border: 1px solid black;
    background: white;
    display: grid;
    grid-template-rows: 1fr auto;
  }

  button {
    border: 0;
    background: #ff0060;
    font-size: 1rem;
    padding: 20px;
    transition: all 0.2s;
  }

  button[disabled] {
    opacity: 0.2;
    /* transform: translateX(-200%) scale(0.5); */
  }

  .terms-and-conditions {
    overflow: scroll;
  }